:root {
    --background-color: #FBF2ED;
    --primary-color:black;
    --secondary-color: gray;
    --hover-color:blue;
    --box-color:#CDD5C6;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background: var(--background-color);
}

#main-img {
    width: 90%;
    border-radius: 10%;
}


/* Structure*/
#content {
    background: var(--background-color);
    padding: 5px;
    width: 100%;
    /*Center horizontally*/
    margin: auto;
    border-radius: 5px;

}


/*modal*/


.bagel {
    background-color: #f2f2f2;
    padding: 5px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
.bagel-name {
    text-align: center;
}
#add-button {
    font-size: 0.8em;
    color: black;
    border: 2px solid black;
    padding: 0 4px;
    text-decoration: none;
}
#edit-button {
    float: right;
    margin-right: 10px;
    cursor: pointer;
    z-index: 2;
    position: relative;
}

#delete-button {
    float: right;
    cursor: pointer;
    z-index: 2;
    position: relative;
}

.w3-modal-content {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    max-width: 60%;
    border: 2px solid #401e01;
  }
  
  .w3-container {
    background: #f2e8dc;
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  label {
    display: block;
  }

  .inline {
    display: inline;
  }

  #ingredients-p input {
    margin-top: 5px;
  }

  #add-ingredients {
    color: blue;
    font-size: 0.75em;
    text-align: right;
  }

  #ingredients-boxes input {
    width: 100%;
  }


  #img-prev-section {
    width: 60px;
    border: 1px solid #401e01;
    max-width: 100px;
    margin-right: 5px;
    box-sizing: border-box;
    padding: 20px;
    
  }
  #img-prev {
    padding: 2.5%;
    display: block;
    margin: auto;
    max-width: 80%;
  }

  .bagel-inner {
    width: 100%;
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
  }
  
  .details {
    margin-left: 20px;
    flex: 1;
    width: calc(100% - 120px);
    box-sizing: border-box;
    padding: 20px;
  }


/*main page*/
#main-header {
    padding: 5px;
    border-radius: 2px;
    margin: 1px;
    background: var(--background-color);
}

#main-header h1 {
    text-align: center;
    color: var(--primary-color);
}
#nav-items li {
    padding: 15px 0;
    text-align: center;
}
#hamburger {
    padding: 10px;
}
#hamburger div {
    width: 25px;
    height: 3px;
    background-color: var(--primary-color);
    margin: 6px 0;
}


#main-contactPic,
#main-cateringPic,
#main-locationPic,
#main-menuPic {
    border-radius: 10%;
}



/*locations*/
#main-content-location {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .location-one {
    flex: 1;
    margin-right: 2rem;
  }
  
  .location-two {
    flex: 1;
    margin-left: 2rem;
  }
  
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
  }
  
  .modal-content {
    background-color: #f2f2f2;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 800px;
    position: absolute;
    bottom: 0;
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

/* The Modal (background) 
.modal {
    display: none; /* Hidden by default 
    position: fixed; /* Stay in place 
    z-index: 1; /* Sit on top 
    padding-top: 100px; /* Location of the box 
    left: 0;
    top: 0;
    width: 100%; /* Full width 
    height: 100%; /* Full height 
    overflow: auto; /* Enable scroll if needed 
    background-color: rgb(0,0,0); /* Fallback color 
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity 
  }
  
  /* Modal Content 
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  /* The Close Button 
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
*/

/*
.location-one, 
.location-two {
    flex: 1;
    margin: 0 20px;
    background-color: var(--background-color);
    padding: 5px;
    
    border-radius: 1px;
    width: 50%;
}
*/

/*Navigation*/

#main-nav ul {
    /*padding-left: 0;*/
    text-align: center;
    
}

#main-nav li {
    list-style-type: none;
    padding: 5px;
    
    
}
#main-nav a {
    text-decoration: none;
    color: var(--primary-color)
    
    
}
.main-bottom a {
    text-decoration: none;
    color: var(--primary-color)

}
.main-bottom a:hover {
    color: var(--hover-color)
}
#main-nav a:hover
{
    color: var(--hover-color);
}
.main-col {
    text-align: center;
    color:var(--background-color);
    margin: auto;
}

.main-bottom img {
    margin: auto;
    display: block;
}
.menu,
.locations,
.catering,
.contact {
    border-radius: 10%;
    background:var(--box-color);
    margin: auto;
    text-decoration: none;
}


/*catering*/
.cater-content {
    display: flex;
    flex-wrap: wrap;

}
.cater-one {
    border-style: solid;
    text-align: center;
    padding: 10px;
}

.cater-col {
    text-align: center;
    color:var(--background-color);
    padding: 10px;
}

.option1,
.option2 {
    background: var(--box-color);
    margin: auto;
}
/*
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .modal-content {
    background-color: #f2f2f2;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 800px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

*/
/*contact*/
.info-section{
    text-align: center;
}
.three,
.one,
.info-section {
    align-items: center;
    margin: auto;
    max-height: 100px;
}

form textarea {
    max-height: 100px;
  }





/*Typography*/
h1 {
    color: var(--secondary-color);
}
h3 {
    color: var(--primary-color);
    text-decoration: none;
    text-align: center;
}
h4 {
    text-align: left;
}
h2 {
    text-align: center;
}
p {
    color: var(--primary-color)
}

.hidden {
    display: none;
  }

  .hide {
    display: none;
  }


@media (min-width: 900px) {

    #main-nav ul,
    .main-bottom {
        display: flex;
    }
    .flex {
        display: flex;
        justify-content: space-between;
    }
    #main-img img {
        display: flex;
        align-self: center;
    }

    #main-nav li {
        flex: 1;
    }
    .flex-location {
        display: flex;
    }
    


    .main-bottom section {
        padding: 5px 20px; 
    }
    
    .flex-container {
        display: flex;
        justify-content: center;
        padding: 5px 20px;
       
    }
    
    .flex-container img {
        margin: auto;
        height: 300px;
        width: 80%;
        align-self: center;
    }

    .main-bottom img{
        max-width: 80%;
        /*for centering*/
        display: block;
        margin: auto;
    }
    #hamburger {
        display: none;
    }
    #nav-items {
        margin: 0;
        padding: 0;
        text-align: center;
        justify-content: space-evenly;
    }
    .location-one {
        flex: 1;
    }
    .location-two {
        flex: 2;
    }
    .location-two img {
        max-width: 80%;
        /*for centering*/
        display: block;
        margin: auto;
    }
    .menu-col {
        flex: 1 ;
      }
    .cater-one {
        flex: 1;
      }

    .cater-two {
        flex:2;
      }

    .cater-col {
        flex: 1;
      }
      .columns {
        display: flex;
        flex-wrap: wrap;
      }
      .two-columns div {
        flex: 1;
      }
      .bagel {
          width: 30%;
      }
      .bagels-list {
        flex: 1;
      }

      
  


    
    
    
}